@model AgustinDonalisioProyectoPNT1.Models.Cellar

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div class="container">
        <div class="card mx-auto" style="max-width: 400px;">
            <div class="card-header text-center">
                <h3>Are you sure you want to delete "@Html.DisplayFor(e => e.Name)"?</h3>
            </div>
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(e => e.Name): @Html.DisplayFor(model => model.WineQuantity) Wines</h4>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <strong>@Html.DisplayNameFor(model => model.Name)</strong>
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                    <div class="col-sm-4">
                        <strong>@Html.DisplayNameFor(model => model.Description)</strong>
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index" class="btn btn-info">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
