@model AgustinDonalisioProyectoPNT1.Models.Wine

@{
    ViewData["Title"] = "Delete";
}
<style>

</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Delete</h1>
                    <h3>Are you sure you want to delete this?</h3>

                    <div class="mt-4">
                        <h4>Wine</h4>
                        <dl class="row" style="align-items: center;">
                            <hr class="border-top" style="padding-top: 5px" />

                            <dt class="col-sm-3" style="padding: 10px">
                                <strong>@Html.DisplayNameFor(model => model.Brand)</strong>
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.Brand)
                            </dd>

                            <hr class="border-top" style="padding-top: 5px"/>

                            <dt class="col-sm-3" style="padding: 10px">
                                <strong>@Html.DisplayNameFor(model => model.Name)</strong>
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <hr class="border-top" style="padding-top: 5px" />

                            <dt class="col-sm-3">
                                <strong>@Html.DisplayNameFor(model => model.Type)</strong>
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.Type)
                            </dd>

                            <hr class="border-top" style="padding-top: 5px" />

                            <dt class="col-sm-3">
                                <strong>@Html.DisplayNameFor(model => model.CreatedAt)</strong>
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.CreatedAt)
                            </dd>

                            <hr class="border-top" style="padding-top: 5px" />

                            <dt class="col-sm-3">
                                <strong>@Html.DisplayNameFor(model => model.UpdatedAt)</strong>
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.UpdatedAt)
                            </dd>

                            <hr class="border-top" style="padding-top: 5px" />

                            <dt class="col-sm-3">
                                <strong>@Html.DisplayNameFor(model => model.Price)</strong>
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.Price)
                            </dd>

                            <hr class="border-top" style="padding-top: 5px" />

                            <dt class="col-sm-3">
                                <strong>@Html.DisplayNameFor(model => model.ConsumptionDate)</strong>
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.ConsumptionDate)
                            </dd>

                            <hr class="border-top" style="padding-top: 5px" />

                            <dt class="col-sm-3">
                                <strong>@Html.DisplayNameFor(model => model.Notes)</strong>
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.Notes)
                            </dd>

                            <hr class="border-top" style="padding-top: 5px" />
                        </dl>

                        <div class="mt-4">
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
