@model IEnumerable<AgustinDonalisioProyectoPNT1.Models.Wine>

@{
    ViewData["Title"] = "Index";
}

<style>
    .search-input {
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 6px 12px;
        font-size: 14px;
        max-width: 500px;
        max-height: 50px;
    }

    .flexi {
        display: flex;
        align-items: flex-end;
    }

    .card-row {
        margin-bottom: 20px;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;
        max-height: 1000px;
    }

        .card-row:hover {
            cursor: pointer;
        }

    .card-details {
        padding: 10px;
        background-color: #f5f5f5;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .card-row.active .card-details {
        max-height: 500px; /* Ajusta la altura máxima según tus necesidades */
    }
</style>

<h1>Index</h1>
@using (Html.BeginForm("Index", "Wines", FormMethod.Get))
{
    <section class="flexi">
        <div class="form-group">
            @Html.Label("Search:")
            @Html.TextBox("searchTerm", null, new { @class = "form-control search-input" })
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 5px;">Search</button>

    </section>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<h3 style="text-align: center;">Total Wines Consumed: @ViewBag.TotalWinesConsumed</h3>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card card-row cursor-pointer" onclick="toggleCardDetails(this)">
                    <div class="card-body" style="display: flex;justify-content: space-between;">
                        <div>
                            <h4 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Name)</h4>
                            <h6 class="card-title" style="min-height: 20px;">@Html.DisplayFor(modelItem => item.Brand)</h6>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.ConsumptionDate)</p>
                        </div>
                        <div style="text-align: end">
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Type)</p>
                            <p>@Html.DisplayFor(modelItem => item.Price)</p>
                        </div>
                    </div>
                    <div class="card-details">
                        <div style="">
                            <p>@Html.DisplayFor(modelItem => item.Notes)</p>
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-dark">Edit</a>
                            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        function toggleCardDetails(card) {
            card.classList.toggle("active");
        }
    </script>
}
